{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "standard",
  "parser": "babel-eslint",
  "rules": {
    "semi": [1, "never"],
    "max-len": [1, 80],
    "arrow-parens": [2, "as-needed"],
    "no-unused-vars": 0,
    "react/jsx-filename-extension": [
      0,
      {
        "extensions": [".js"]
      }
    ]
  }
}
